#channelPage {
    padding: 0;
}

.channel__inner {


    .channel__header {
        width: 100%;
        height: 300px;
        position: relative;
        background-position: center center;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }

        .circle {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            position: absolute;
            overflow: hidden;
            top: 150px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 100;
        }
    }

    .channel__info {
        margin-top: 100px;
        color: var(--black);
        text-align: center;

        .title {
            margin-bottom: 10px;
        }

        .desc {
            color: var(--black);
            padding: 0 10vw;
            margin-bottom: 30px;
            overflow-wrap: anywhere;
        }

        .info {
            display: flex;
            justify-content: center;
            /* Horizontally center the content */
            align-items: center;

            /* Vertically center the content (optional) */
            span {
                display: inline-block;
                margin: 0 5px;
                border: 1px solid var(--black300);
                padding: 7px 20px;
                border-radius: 30px;
                margin-left: 5px;
                background-color: white;
                color: black
            }

            svg {
                width: 20px;
                height: 20px;
                vertical-align: -5px;
                margin-right: 5px;
            }

        }
    }

    .channel__video {
        padding: 40px;
    }


    .channel__more {
        padding: 40px;
        padding-top: 0;

        button {
            padding: 10px 15px;
            /* 패딩 조정 */
            background-color: var(--white);
            /* 배경색 조정 */
            color: #08c57a;
            /* 텍스트 색상 조정 */
            border: 2px solid var(--black);
            /* 테두리 제거 */
            border-radius: 5px;
            /* 둥근 테두리 */
            cursor: pointer;
            /* 커서 모양 변경 */
            font-size: 16px;
            /* 폰트 크기 조정 */
            width: 100%;
            margin-bottom: 10px;
        }

        button:hover {
            background-color: #08c57a;
            color: var(--white);
        }
    }
}


#channelPage {
    .video__info {
        .info {
            .author {
                display: none;
            }

            .date {
                display: none;
            }
        }
    }

}