#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    z-index: 10000;
    background-color: var(--green);
    border-right: 3px solid var(--white);

}

#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: var(--green);
}

#footer {
    text-align: center;
    border-top: 1px solid var(--white);
    padding: 10px 10px 10px 10px;
    margin-left: 260px;
    width: calc(100% - 260px);
    background-color: var(--green);

    a {
        color: var(--white);
        padding: 10px 20px;
        display: inline-block;

        &:hover {
            @include underline;
            text-decoration-color: var(--white);
        }
    }
}


@media (max-width: 800px) {
    #root {
        padding-top: 84px;
    }

    #header {
        left: -260px;
    }

    #header.show {
        left: 0;
        background-color: var(--white);
        top: 85px;
    }

    #main {
        padding-left: 0;
    }

    #footer {
        width: 100%;
        margin-left: 0;
    }
}