.search__inner {
    width: 100%;
    padding: 17px 40px 18px 40px;
    border-bottom: 1px solid var(--white);

    label {
        display: none;
    }

    .search__input {
        width: 100%;
        background-color: var(--white);
        border: 1px solid var(--black);
        padding: 15px 30px;
        border-radius: 50px;
        color: var(--black);

    }
}

@media (max-width: 800px) {
    .search__inner {
        padding-left: 240px;
    }

    #search {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        background-color: var(--green);
        z-index: 1000;
    }
}