.video__inner {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-between;

    .video {
        margin-bottom: 50px;
        border: 1px solid #fff;
        padding: 16px;

        .video__thumb {

            a {
                display: block;
                cursor: pointer;
                width: 100%;
                padding-bottom: 56.25%;
                background-size: cover;
                background-position: center;
            }
        }

        .video__info {

            .title {
                margin-top: 10px;
                margin-bottom: 5px;
                @include line-one;
                color: #000;
            }

            .desc {
                width: 100%;
                @include line(3);
                color: #fff;
                margin-bottom: 10px;
            }

            .info {
                display: flex;
                justify-content: space-between;
                color: #fff;

                .autor {
                    color: #000;
                    font-size: 14px;
                    text-decoration: underline;
                    text-underline-position: under;

                    &:hover {
                        color: white;
                    }
                }

                .date {
                    white-space: nowrap;
                    color: #000;
                    font-size: 14px;
                }
            }

        }
    }
}

// 비이오 상세 페이지
.video__view {

    .video__play {
        width: 100%;
        padding-bottom: 56.25%;
        position: relative;
    }

    .video__info {

        .video__title {
            padding-top: 20px;
            margin-bottom: 20px;
            font-size: 30px;
            border-bottom: 1px solid var(--black600);
            padding-bottom: 15px;

        }

        .video__channel {
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            margin-top: 40px;

            .id {

                a {
                    border: 1px solid var(--black300);
                    padding: 7px 20px;
                    border-radius: 30px;
                }
            }

            .count {
                span {
                    padding: 7px 20px;
                    border-radius: 30px;
                    margin-left: 5px;
                    background-color: var(--black);
                    color: var(--white);

                    svg {
                        color: var(--white);
                        width: 20px;
                        height: 20px;
                        vertical-align: -5px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .video__desc {
        border-top: 1px solid var(--black600);
        white-space: pre-line;
        padding-top: 40px;
    }

    .video__comments {
        border: 2px solid rgba(255, 255, 255, 0.5);

        .comment {

            p {
                display: block;
                padding: 5px 10px;
                border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
                margin: 5px 0;
            }
        }
    }



}